.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 30px;
}

.film {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}